.product-container{
    width: 270px;
    height: 490px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.5s;
}

.product-container:hover{
    background-color: #fdf1cb;
    transform: scale(1.1)
}

.product-image{
    height: 350px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-name{
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.product-price{
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.rating-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 90%;
    justify-content: flex-end;
    align-items: center;

}

.rating{
    height: 16px;
    margin-left: 10px;
}

.rating-text{
    font-size: 18px;
    margin-left: 10px;
}

.category{
    font-size: 15px;
    color:grey;
    display: block;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    
}